header{background-color: goldenrod;}

h1,h2,a,p,section,nav{text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.nav-item{padding-left: 15px; display: inline-flex; margin-right: 110px; margin-left: 50px;}

ul{list-style-type: none;}

.containerMain{display: inline-flex;
                flex-direction: row;
                justify-content: center;
            }

.containerLeft{padding-right: 200px;}

.left{display: inline-flex; padding: none;}

.containerLinks{text-align: center; margin-right: 90px; margin-left: 50px;}

body{background-color: orchid;}

.right{margin-right: 125px;}
