header{background-color: goldenrod;}

h1,h2,a,p,section,nav{text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

li.nav-item{padding-left: 15px; display: inline-flex; margin-right: 110px; margin-left: 50px;}

ul{list-style-type: none;}

.containerMain{display: inline-flex;
                flex-direction: row;
            }

.containerLeft{background-color: maroon;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.containerRight{background-color: lightgreen;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    color: black;
}

.containerLinks{text-align: center; margin-right: 90px; margin-left: 50px;}